<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Student Name: {{student.name}}
<br><br><br>
Topic: {{assignment.topic}}
<br><br>

    <div class="col-lg-6 tm-contact-col-center">
        <form action="{% url 'student:submit_assign' student.enrollment_number assignment.id%}" method="POST" id="tmContactForm" class="tm-bg-black-transparent tm-contact-form" enctype="multipart/form-data">
            <h5 class="text-uppercase tm-services-page-title tm-testimonials-page-title" align="left">Upload Your Assignment</h5>
            <table>
                {% csrf_token %}
                {{ form.as_p }}
            </table>

            <div class="text-right">
                <button type="submit" class="btn btn-primary tm-btn-submit rounded-0">Submit</button>
            </div>
        </form>
    </div>

</body>
</html>